::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: antiquewhite;
	border-radius: 999px;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 1.15em;
	font-family: Arial;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: hue-rotate(-105deg);
	opacity: 35%;
	pointer-events: none;
	z-index: -1;
}

a {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}

.window {
	--horizontal-margin: 16px;
	--vertical-margin: calc(var(--horizontal-margin) * 2);

	position: relative;
	display: block;
	box-sizing: border-box;
	margin: var(--vertical-margin) var(--horizontal-margin);
	padding: 0 8px;
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
	color: antiquewhite;
	width: 720px;
	max-width: 720px;
	height: calc(100vh - var(--vertical-margin) * 2);
	border-radius: calc(var(--horizontal-margin));
	z-index: 1;
	transition: 1s ease;
}

.window-hide {
	opacity: 0%;
	transform: translateY(64px);
}

header {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	height: 64px;
	padding: 16px 16px;
	border: none;
	border-bottom-left-radius: 999px;
	border-bottom-right-radius: 999px;
	border-top-right-radius: 128px;
	border-top-left-radius: 128px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.005));
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	z-index: 2;
}

header a {
	display: flex;
	justify-content: center;
	transition: 0.15s ease;
}

header a:hover {
	transform: scale(110%);
}

header a img {
	width: 26px;
	filter: invert();
	-webkit-filter: invert();
	background-color: rgba(0, 0, 0, 0.1);
	padding: 32% 32%;
	border-radius: 12px;
}

main {
	margin-right: 8px;
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	padding: 8px;
	text-wrap: wrap;
	text-align: center;
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: auto;
	-webkit-hyphens: auto;
	z-index: 1;
}
/* main > * {
	padding-right: 16px;
	z-index: 1;
} */

main section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.005));
	padding: 16px;
	margin: 12px;
	border-radius: 24px;
	z-index: 1;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

.profile-picture {
	width: 128px;
	border-radius: 999px;
	opacity: 95%;
}

.name {
	font-weight: 700;
	margin: 12px 0 0;
}

.bio {
	font-size: 0.85em;
}

.projects-section {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	align-items: stretch;
}

.projects {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	padding: 12px;
	text-align: left;
	transition: 0.15s ease;
	box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.25);
}
.projects:hover {
	background-color: rgba(0, 0, 0, 0.15);
	filter: brightness(115%);
	cursor: pointer;
	transform: scale(102%);
}

.background-image {
	width: 100%;
	border-radius: 16px;
}

.project-name {
	margin-top: 16px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 8px;
	font-weight: 700;
}

.projects .bio {
	margin-top: 0px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 6px;
}

.project-date {
	font-size: 0.80em;
	color: rgb(148, 148, 148);
	margin-top: 0px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 6px;
}

.projects-section div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials-bg {
	opacity: 50%;
}

.social-icons {
	position: absolute;
	width: 25%;
}

.github {
	filter: invert();
}

.made-with-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.made-with-section {
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.made-with {
	margin-top: 8px;
	margin-bottom: 0;
	font-size: 1.5em;
}

.made-with-section img {
	width: 36px;
	min-width: 24px;
}

footer {
	height: 64px;
	padding: 16px;
	margin-left: 16px;
	border: none;
	border-bottom-left-radius: 999px;
	border-bottom-right-radius: 999px;
	border-top-right-radius: 999px;
	border-top-left-radius: 999px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.035), rgba(0, 0, 0, 0));
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	z-index: 2;
	font-size: 0.75em;
}

.noclick:hover {
	cursor: not-allowed;
	background-color: rgba(0, 0, 0, 0.5);
	filter: brightness(85%);
	transform: scale(98%);
}